
<div class="action-bar">

  <button class="expand-all-button" mat-icon-button (click)="onOpenAll()">

    <mat-icon svgIcon="expand-all"></mat-icon>

  </button>

  <button class="tab-plus-button" mat-icon-button (click)="onAddGroup()">

    <mat-icon svgIcon="tab-plus"></mat-icon>

  </button>

  <button class="settings-button" mat-icon-button (click)="onSettings()">

    <mat-icon svgIcon="settings"></mat-icon>

  </button>

  <button class="export-button" mat-icon-button (click)="onExport()">

    <mat-icon svgIcon="export"></mat-icon>

  </button>

  <button class="import-button" mat-icon-button (click)="onImport()">

    <mat-icon svgIcon="import"></mat-icon>

  </button>

</div>

