.tile {
  margin-bottom: 10px;
}

.tileButtons {
  transition: 0s;
  visibility: hidden;
  height: 36px;
  position: absolute;
  right: 16px;
}

.tile:hover .tileButtons {
  visibility: visible;
  transition-delay: 0.5s;
}

.removeButton {
  top: -32px;
  left: 16px;
}

.tuneButton {
  top: -16px;
  left: 16px;
}

.size-0_8 {
  transform: scale(0.6)
}
