
.center {
  text-align: center;
  /* margin: auto; */
}

.tile {
  height: 100px;
  padding: 10px;
}

.tileButtons {
  transition: 0s;
  visibility: hidden;
}

.tile:hover .tileButtons {
  visibility: visible;
  transition-delay: 0.5s;
}

.removeButton {
  position: absolute;
  left: 16px;
}

.tuneButton {
  position: absolute;
  right: 16px;
}

.size-0_8 {
  transform: scale(0.8)
}
/* div {

}

a:hover + div {

} */
/*
<a>Hover over me!</a>
<div>Stuff shown on hover</div> */

/*
.myLinks{
  display:none;
}

.comment:hover > .myLinks {
  display: block;
} */

