
.center {
  text-align: center;
  /* display: block; */
  /* margin: auto; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.tile {
  height: 150px;
  /* width: 150px; */
  /* padding: 10px; */
}

.tileButtons {
  transition: 0s;
  visibility: hidden;
}

.tile:hover .tileButtons {
  visibility: visible;
  transition-delay: 0.5s;
}

.removeButton {
  position: absolute;
  left: 16px;
}

.tuneButton {
  position: absolute;
  right: 16px;
}

.size-0_8 {
  transform: scale(0.8)
}

.picture {
  height: 100px;
  width: 100px;
}

