

<mat-card class="tile">

  <mat-card-content>

    <div class="center">
      <a mat-button [href]="tile.url">
        {{tile.text}}
      </a>
    </div>

  </mat-card-content>

  <mat-card-actions>

    <div class="tileButtons">

      <button class="removeButton" mat-icon-button (click)="onRemoveTile()">
        <mat-icon class="size-0_8" svgIcon = "remove">
          Entfernen
        </mat-icon>
      </button>

      <button class="tuneButton" mat-icon-button (click)="onEditTile()">
        <mat-icon class="size-0_8" svgIcon = 'tune'>
          Bearbeiten
        </mat-icon>
      </button>

    </div>


  </mat-card-actions>

</mat-card>
