
<mat-card fxLayout="row">

  <a mat-button [href]="mHref" flFlex="80%">
    {{tile.text}}
  </a>

  <div class="tileButtons" flFlex="20%" fxLayout="row">

    <button  mat-icon-button (click)="onRemoveTile()">
      <mat-icon class="size-0_8" svgIcon = "remove">
        Entfernen
      </mat-icon>
    </button>

    <button mat-icon-button (click)="onEditTile()">
      <mat-icon class="size-0_8" svgIcon = 'tune'>
        Bearbeiten
      </mat-icon>
    </button>

  </div>

</mat-card>







<!-- <div fxLayout="column"> -->

  <!-- <mat-card-content>

    <div *ngIf="tile.pictureUrl; else buttonText">
      <a [href]="mHref">
        <img mat-card-image [src]="tile.pictureUrl">
      </a>
    </div>

  </mat-card-content>

  <mat-card-actions fxLayout="row">

    <div>

      <button flFlex="10%" mat-icon-button (click)="onRemoveTile()">
        <mat-icon class="size-0_8" svgIcon = "remove">
          Entfernen
        </mat-icon>
      </button>

      <button flFlex="90%" mat-icon-button (click)="onEditTile()">
        <mat-icon class="size-0_8" svgIcon = 'tune'>
          Bearbeiten
        </mat-icon>
      </button>

    </div>

  </mat-card-actions> -->

  <!-- <div fxLayout.gt-xs="row" fxLayout.xs="column">






  </div>

  <span fxFlex="50%">
    <a [href]="mHref">
      <img mat-card-image [src]="tile.pictureUrl">
    </a>
  </span>

</div>

<ng-template #buttonText>
    <div class="center">

    </div>
</ng-template> -->
