
<div *ngIf="groupStorage.groups | async as groups">

  <table class = "center" mat-table [dataSource]="groups">

    <!-- Name Column -->
    <ng-container matColumnDef="name">

      <th mat-header-cell *matHeaderCellDef> Gruppe </th>

      <td mat-cell *matCellDef="let group">
        <mat-form-field>
          <input matInput placeholder = "" [(ngModel)] = "group.name">
        </mat-form-field>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field>
          <input matInput placeholder = "" [(ngModel)] = "mNewName">
        </mat-form-field>
      </td>

    </ng-container>

    <!-- numberOfColumns Column -->
    <ng-container matColumnDef="numberOfColumns">

      <th mat-header-cell *matHeaderCellDef> Anzahl der Spalten </th>

      <td mat-cell *matCellDef="let group">
        <mat-form-field>
          <input matInput appIntegerKeyOnly placeholder = "" type = "number" min = "1" max = "10" steps = "1" [(ngModel)] = "group.settings.numberOfColumns">
        </mat-form-field>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field>
          <input matInput appIntegerKeyOnly placeholder = "" type = "number" min = "1" max = "10" steps = "1" [(ngModel)] = "mNewNumberOfColumns">
        </mat-form-field>
      </td>

    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="action">

      <th mat-header-cell *matHeaderCellDef> </th>

      <td mat-cell *matCellDef="let group">
        <button mat-icon-button (click)="onRemove(group)">
          <mat-icon svgIcon = "remove"></mat-icon>
        </button>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <button mat-icon-button (click)="onAdd()">
          <mat-icon svgIcon = "plus"></mat-icon>
        </button>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="mDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: mDisplayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="mDisplayedColumns"></tr>

  </table>

</div>

