<form [formGroup] = "mForm" (ngSubmit) = "onSubmit()">

  <h1 mat-dialog-title class="headline"> {{mHeadline}} </h1>

  <mat-divider></mat-divider>

  <mat-dialog-content class="content">

    <mat-form-field class="pictureUrl">
      <input matInput placeholder = "Bild - Url" formControlName = "pictureUrl">
    </mat-form-field>

    <br>

    <mat-form-field class="scheme">

      <input matInput
             type="text"
             placeholder="Schema"
             [formControl]="mSchemeControl"
             [matAutocomplete]="auto"
      >

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let scheme of mSchemes | keys: 'true'" [value]="scheme">
          {{scheme}}
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>

    <mat-form-field class="url">
      <input matInput placeholder = "Url" formControlName = "url">
    </mat-form-field>

    <br>

    <mat-form-field class="text">
      <input matInput placeholder = "Text" formControlName = "text">
    </mat-form-field>

    <br>

    <mat-checkbox formControlName="alwaysOpenInNewTab">
      Öffen in neuen Tab.
    </mat-checkbox>

  </mat-dialog-content>

  <mat-divider></mat-divider>

  <mat-dialog-actions>

    <button class = "removeButton" mat-icon-button (click)="onRemoveTile()" type="button">
      <mat-icon svgIcon = "remove">
        Löschen
      </mat-icon>
    </button>

    <button class = "noButton" mat-icon-button mat-dialog-close>
      <mat-icon svgIcon = "close">
        Abbrechen
      </mat-icon>
    </button>

    <button class = "yesButton" mat-icon-button type="submit">
      <mat-icon svgIcon = "check">
        Ok
      </mat-icon>
    </button>

  </mat-dialog-actions>

</form>





