<form [formGroup] = "mForm" (ngSubmit) = "onSubmit()">

  <h1 mat-dialog-content> Seite Hinzufügen </h1>

  <mat-dialog-content>

    <mat-form-field>
      <input matInput placeholder = "Bild - Url" formControlName = "pictureUrl">
    </mat-form-field>

    <br>

    <mat-form-field>

      <input matInput
             type="text"
             placeholder="Schema"
             [formControl]="mSchemeControl"
             [matAutocomplete]="auto"
      >

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let scheme of mSchemes | keys: 'true'" [value]="scheme">
          {{scheme}}
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder = "Url" formControlName = "url">
    </mat-form-field>

    <br>

    <mat-form-field>
      <input matInput placeholder = "Text" formControlName = "text">
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>

    <button class = "noButton" mat-icon-button mat-dialog-close>
      <mat-icon svgIcon = "close">
        Abbrechen
      </mat-icon>
    </button>

    <button class = "yesButton" mat-icon-button type = "submit">
      <mat-icon svgIcon = "check">
        Ok
      </mat-icon>
    </button>

  </mat-dialog-actions>

</form>





