<div *ngIf = 'groupStorage.groups | async as groups'>

  <mat-tab-group [disableRipple]="false">

    <!-- Groups -->

    <mat-tab *ngFor = 'let group of groups'>

      <ng-template mat-tab-label>

        {{group.name}}

      </ng-template>

      <app-group [group] = 'group' ></app-group>

    </mat-tab>

    <!-- Settings -->

    <mat-tab>

      <ng-template mat-tab-label>

        <mat-icon svgIcon="settings">

          Einstellungen

        </mat-icon>

      </ng-template>

      <app-settings></app-settings>

    </mat-tab>

  </mat-tab-group>

</div>





