
<form>

  <h1 mat-dialog-title>
    {{input.title}}
  </h1>

  <mat-divider></mat-divider>

  <mat-dialog-content class="question">
    {{input.question}}
  </mat-dialog-content>

  <mat-divider></mat-divider>

  <mat-dialog-actions>

    <button class = "noButton" mat-icon-button mat-dialog-close>
      <mat-icon svgIcon = "close">
        Abbrechen
      </mat-icon>
    </button>

    <button class = "yesButton" mat-icon-button [mat-dialog-close]="true">
      <mat-icon svgIcon = "check">
        Ok
      </mat-icon>
    </button>

  </mat-dialog-actions>

</form>

